<nav class="blue darken-4">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Language-study</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

            {{#if isMain}}
            <li class="active"><a href="/">Main</a></li>
            {{else}}
            <li><a href="/">Main</a></li>
            {{/if}}

            {{#if isCreate}}
            <li class="active"><a href="/">Create card</a></li>
            {{else}}
            <li><a href="/create">Create card</a></li>
            {{/if}}

        </ul>
    </div>
</nav>