<form action="/create" method="POST">
    <h2>Create todos</h2>

    <div class="input-field">
        <span>Основное слово</span>
        <input type="text" name="title">
        <span>Перевод</span>
        <input type="text" name="subtitle">
        <label for="Todo title"></label>
    </div>

    <button type="submit" class="btn">Create</button>
</form>